body{
    display: flex;
    margin-top: 0px;
    align-items: center;
    min-height: 100vh;
    background: url(https://cdn.discordapp.com/attachments/1159658336770326559/1287103254873767957/mountain-6815304_1280.jpg?ex=66f053d1&is=66ef0251&hm=3d45f13f6897cd519e93f72363be485adb5816e96e0881edd19d7214a9e34b60&) no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}